# --- DB
ENV_DB_PORT=5432
ENV_DB_HOST=localhost
ENV_DB_SSL_MODE=require
ENV_DB_TIMEZONE="Asia/Singapore"

# --- Database Secrets
DB_SECRET_USERNAME=./database/infra/secrets/pg_username
DB_SECRET_PASSWORD=./database/infra/secrets/pg_password
DB_SECRET_DBNAME=./database/infra/secrets/pg_dbname

# --- Caddy
CADDY_LOGS_PATH="/var/log/oullin/caddy"
