# --- [API]: Root
.env
.env.production
tmp

database/infra/data

# -- [SEO]: static files
storage/seo/*.*
!storage/seo/.gitkeep

# --- [Caddy]: mtls
infra/caddy/mtls/*.*
!infra/caddy/mtls/.gitkeep

# --- [API]: Bin
bin/*
!bin/.gitkeep

# --- [API]: Storage
storage/logs/*.*
storage/media/*.*
storage/logs/caddy/*.*
storage/media/posts/*.*
storage/media/users/*.*
!storage/logs/.gitkeep
!storage/logs/caddy/.gitkeep
!storage/media/.gitkeep
!storage/media/posts/.gitkeep
!storage/media/users/.gitkeep

# -- [SQL]: static files
storage/sql/*.*
!storage/sql/.gitkeep

# --- [IDEs]: Files
.DS_Store
.idea

# --- [GO]: Exceculatables/Source files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.gocache
.gopath
go.work
go.work.sum

