# --- [API]: Root
.env
.env.production
tmp

database/infra/data

# -- [SEO]: static files
storage/seo/pages/*.*
!storage/seo/.gitkeep
!storage/seo/pages/.gitkeep

# --- [Caddy]: mtls
caddy/mtls/*.*
!caddy/mtls/.gitkeep

# --- [API]: Bin
bin/*
!bin/.gitkeep

# --- [API]: Storage
storage/logs/*.*
storage/media/*.*
storage/logs/caddy/*.*
storage/media/posts/*.*
storage/media/users/*.*
!storage/logs/.gitkeep
!storage/logs/caddy/.gitkeep
!storage/media/.gitkeep
!storage/media/posts/.gitkeep
!storage/media/users/.gitkeep

# --- [IDEs]: Files
.DS_Store
.idea

# --- [GO]: Exceculatables/Source files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

